<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.27/angular.js" data-semver="1.2.27"></script>
    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    
    <table class="table">
      <thead>
        <tr><th>Name</th><th>Age</th></tr>
      </thead>  
      <tbody>
        <tr ng-repeat = "item in filteredList">
          <td>{{item.name}}</td>
          <td>{{item.age}}</td>
        </tr>
      </tbody>
    </table>
    
    <b><p>Name Filter</p></b>
    <input ng-model="filterParams.nameSearch" placeholder = "Name " />
    
    <b><p>Sort Order</p></b>
    <select ng-model="filterParams.order">
     <option value="age">Age</option>
     <option value="name">Name</option>
    </select>
    <script>
        
        var app = angular.module('plunker', []);

app.controller('MainCtrl', function($scope, $filter) {
  $scope.list=[
    {name: 'ABC', age:'25'},
    {name: 'BCD', age:'26'},
    {name: 'CDE', age:'26'},
    {name: 'DEF', age:'35'},
    {name: 'EFG', age:'45'},
    {name: 'FGH', age:'51'},
    {name: 'GHI', age:'11'},
    ];
  
  $scope.filterParams = {
                nameSearch: 'G',
                order: 'age'
                };
  
  $scope.updateFilter = function(){
    
    var filtered;
    filtered = $filter('filter')($scope.list, {name: $scope.filterParams.nameSearch});
    filtered = $filter('orderBy')(filtered, $scope.filterParams.order);
  
    $scope.filteredList = filtered;
  }

   $scope.$watchCollection('filterParams', function(newNames, oldNames) {
      $scope.updateFilter();
    });
    
    $scope.updateFilter();
  
});
      </script>
  </body>

</html>