body {
}
.containerlayout{
    margin-left:310px;
    
}
@media screen and (max-width:991px)
{
.containerlayout
{
    margin-left:0;
}

}

.selected{
    border-style:solid !important;
    border-color:#1dc0f5 !important;
    border-width:thin !important;
    
}
.notActive{
    color:white;
    opacity:0.6;
}
.inline{
    display:inline-block;
}

.box{
    width:90% !important;
}

.cmprBtn{
    position:absolute;
    right:50px;
}
.active{
    opacity:1;
}
.content{
    margin-top:100px;
}

.padding4{
    padding:4px;
    margin-left:4px;
    margin-right:4px;
}

/*Modal Popup*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 100px;*/ /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height:100%;
}

/* The Close Button */
.closeBtn {
    color:black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*compare layout*/

* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.product {
    list-style-type: none;
    border: 1px solid #B5B4B7;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.product:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.product .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.product li {
    border-bottom: 1px solid #B5B4B7;
    padding: 20px;
    text-align: center;
}

.product .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

